<div class="container">
</div>

<div class="row justify-content-center">
  <div class="col-10">

    <%= render 'shared/errors', obj: @consultation%>

    <%= form_with(model: consultation, class: "shadow p-3 mb-3 rounded",local: true) do |f| %>
    
      <div class="form-group row">
        <%= f.label :disease, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :disease, class: "form-control shadow rounded" %>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :height, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :height, class: "form-control shadow rounded"%>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :weight, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :weight, class: "form-control shadow rounded" %>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :body_mass, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :body_mass, class: "form-control shadow rounded" %>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :temperature, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :temperature, class: "form-control shadow rounded"%>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :respiratory_rate, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :respiratory_rate, class: "form-control shadow rounded" %>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :systolic, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :systolic, class: "form-control shadow rounded"%>
        </div>
      </div>
      <br/>
    
      <div class="form-group row">
        <%= f.label :heart_rate, class: "col-2 col-form-label " %>
        <div class="col-8">
            <%= f.text_field :heart_rate, class: "form-control shadow rounded" %>
        </div>
      </div>
      <br/>

      <div class="form-group row">
        
        <div class="col-6">
          <%= f.submit 'Save & Schedule consultation',  class: "btn btn-primary" %>
        </div>

                
        <div class="col-6">
          <%= link_to 'Cancel', root_path, class: "btn btn-danger" %>
        </div>
      
      <br/>
  
    <% end %>

  </div>
</div>



