
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-9">

      <h1>Schedule</h1>

            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                <th scope="col">User</th>
                <th scope="col">Consultation number</th>
                <th scope="col">Disease</th>
                <th scope="col">Start at</th>
                <th scope="col">End at</th>
                
                </tr>
            </thead>
            <tbody>
            <% @schedules.each do |schedule|%>
                <tr>

                    <td><%= schedule.user.email %> </td>
                    <td><%= schedule.consultation_id%> </td>
                    <td><%= schedule.consultation.disease %> </td>
                    <td><%= schedule.start_at.to_s(:stamp) %> </td>
                    <td><%= schedule.end_at.to_s(:stamp)%> </td>
                    
                  
                </tr>
            <%end%>
                
            </tbody>
            </table>
    </div>
</div>
<%= link_to 'Back', root_path, class: "btn btn-danger" %>


